.map-container {
  width: 100%;
  height: 400px;
}

.modal {
  width: 80%; /* Adjust as needed */
  height: 80%; /* Adjust as needed */
  overflow: auto; /* Enable scrolling if content exceeds modal size */
}
